<template>
  <div class="container">
    <div style="height: 10px"></div>
    <p class="title">Add Release</p>
    <div class="card has-background-primary">
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(submitForm)" class="is-centered">

          <div class="columns">
            <div class="column">
              <ValidationProvider rules="required" name="Artist" v-slot="{ errors, valid }">
                <b-field
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors">
                  <template #label>
                    <span class="has-text-light">Artist</span>
                  </template>
                  <b-input name="artist" v-model="artist">
                  </b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required" name="Title" v-slot="{ errors, valid }">
                <b-field
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors">
                  <template #label>
                    <span class="has-text-light">Title</span>
                  </template>
                  <b-input name="title" v-model="title">
                  </b-input>
                </b-field>
              </ValidationProvider>
              <b-field>
                <template #label>
                  <span class="has-text-light">Release Type</span>
                </template>
                <b-select placeholder="Release Type" v-model="releaseType" expanded>
                  <option
                      v-for="rt in releaseTypes"
                      :value="rt"
                      :key="rt">
                    {{ rt }}
                  </option>
                </b-select>
              </b-field>
              <ValidationProvider rules="required" name="Tags" v-slot="{ errors, valid }">
                <b-field
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors">
                  <template #label>
                    <span class="has-text-light">Genre/Tags</span>
                  </template>
                  <b-taginput
                      v-model="tags"
                      :data="filteredTags"
                      autocomplete
                      :allow-new="true"
                      :open-on-focus="true"
                      icon="tags"
                      placeholder="Add a tag"
                      @typing="getFilteredTags"
                      @add="getFilteredTags">
                  </b-taginput>
                </b-field>
              </ValidationProvider>
              <div style="height: 16px"></div>
              <b-field message="Only necessary, when you cannot provide a Bandcamp link">
                <template #label>
                  <span class="has-text-light">Cover Art</span>
                </template>
                <b-upload v-model="dropFile"
                          drag-drop
                          accept="image/png, image/jpeg">
                  <section class="section">
                    <div class="content has-text-centered">
                      <p>
                        <b-icon
                            icon="upload"
                            size="is-large">
                        </b-icon>
                      </p>
                      <p>Drop your image here or click to upload</p>
                    </div>
                  </section>
                </b-upload>
              </b-field>

              <span class="file-name has-background-light" v-if="dropFile">
                {{ dropFile.name }}
                <a @click="dropFile = null">
                  <i class="fa fa-times-circle"></i>
                </a>
              </span>
            </div>
            <div class="column">
              <ValidationProvider rules="required" name="Label" v-slot="{ errors, valid }">
                <b-field
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors">
                  <template #label>
                    <span class="has-text-light">Label</span>
                  </template>
                  <b-autocomplete name="label"
                                  v-model="label"
                                  :data="filteredLabels"
                                  icon="compact-disc"
                                  @typing="getFilteredLabels">
                  </b-autocomplete>
                </b-field>
              </ValidationProvider>
              <b-field>
                <template #label>
                  <span class="has-text-light">Release Date</span>
                </template>
                <b-datepicker
                    v-model="date"
                    :show-week-number="true"
                    placeholder="Click to select..."
                    icon="calendar"
                    trap-focus>
                </b-datepicker>
              </b-field>
              <ValidationProvider rules="required" name="Details" v-slot="{ errors, valid }">
                <b-field
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors">
                  <template #label>
                    <span class="has-text-light">Details/FFO</span>
                  </template>
                  <b-input name="details" v-model="description" type="textarea">
                  </b-input>
                </b-field>
              </ValidationProvider>
              <ValidationProvider rules="required|url" name="Label" v-slot="{ errors, valid }">
                <b-field
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors">
                  <template #label>
                    <span class="has-text-light">Link</span>
                  </template>
                  <b-input name="link" v-model="link">
                  </b-input>
                </b-field>
              </ValidationProvider>
              <b-field>
                <b-button native-type="submit" class="is-info">Submit!</b-button>
              </b-field>
            </div>
          </div>
        </form>
      </ValidationObserver>

    </div>
    <div style="height: 100px"></div>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ReleaseStore from "@/stores/ReleaseStore";
import availableTags from "@/helpers/availableTags";
import availableLabels from "@/helpers/availableLabels";
import { ValidationObserver, ValidationProvider } from "vee-validate";
import ReleaseRequest from "@/model/ReleaseRequest";
import releaseAPI from "@/api/releaseAPI";
import dayjs from "dayjs";
import encodeFile from "@/helpers/encodeFile";
import Release from "@/model/Release";


@Component({
  components: {
    ValidationObserver,
    ValidationProvider
  },

})
export default class AddRelease extends Vue {
  artist = ""
  title = ""
  releaseType = "Full-Length"
  tags: string[] = []
  label = ""
  date = new Date()
  description = ""
  link = ""
  dropFile: File | null = null
  id: number | null = null

  releaseStore = ReleaseStore

  releaseTypes = [
    "Full-Length",
    "EP",
    "Collaboration",
    "Split",
    "Demo",
    "Live Album"
  ]

  filteredTags: string[] = []

  get availableTags(): string[] {
    return availableTags(this.releaseStore.state.releases, []).map(t => { return t.name })
  }


  getFilteredTags(text: string) {
    this.filteredTags = this.availableTags.filter((tag) => {
      return tag.toLowerCase()
          .indexOf(text.toLowerCase()) >= 0
    })
  }

  filteredLabels: string[] = []

  get availableLabels(): string[] {
    return availableLabels(this.releaseStore.state.releases).map(t => { return t })
  }

  getFilteredLabels(text: string) {
    this.filteredLabels = this.availableLabels.filter(l => {
      return l.toLowerCase()
          .indexOf(text.toLowerCase()) >= 0
    })
  }

  submitRelease(request: ReleaseRequest): Promise<Release> {
    if (this.id) {
      return releaseAPI.editRelease(this.id, request)
    } else {
      return releaseAPI.addRelease(request)
    }
  }

  submitForm(): void {
    const formattedDate: string = dayjs(this.date).format("YYYY-MM-DD")
    encodeFile(this.dropFile).then(f => {
      const request = new ReleaseRequest(this.artist,
          this.title,
          this.releaseType,
          this.description,
          formattedDate,
          this.tags,
          [this.link],
          this.label,
          f?.data,
          f?.extension
      )
      return this.submitRelease(request)
    })
        .then(r => {
          this.releaseStore.loadReleases()
          this.$router.push("/")
          this.$buefy.toast.open({
            message: `Successfully submitted "${r.artist} - ${r.title}"!`,
            type: 'is-success'
          })
        }).catch(error => {
      this.$buefy.dialog.alert({
        title: 'Error',
        message: 'An error occured',
        type: 'is-danger'
      })
    })
  }

  mounted(): void {
    this.id = parseInt(this.$route.params['id'])
    if (this.id) {
      const editing = ReleaseStore.state.releases.filter(r => { return r.id === this.id} ).pop()
      if (editing) {
        this.artist = editing.artist
        this.title = editing.title
        this.releaseType = editing.release_type
        this.tags = editing.tags.map(t => { return t.name })
        this.label = editing.label.name
        this.date = editing.release_date.toDate()
        this.description = editing.description
        this.link = editing.links[0].url
      } else {
        this.$buefy.toast.open({ message: 'Something went wrong', type: 'is-danger' })
        this.$router.push('/')
      }
    }
  }
}
</script>

<style scoped lang="scss">
form {
  margin-left: 16px;
  margin-right: 16px;
}
</style>
