<template>
  <div>
    <div style="height: 10px"></div>
    <ReleaseCardList :releases="releaseStore.state.releases" v-if="!displayStore.state.showTable"></ReleaseCardList>
    <ReleaseTable :releases="releaseStore.state.releases" v-if="displayStore.state.showTable"></ReleaseTable>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import releaseAPI from '@/api/releaseAPI';
import Release from "@/model/Release";
import ReleaseTable from "@/components/ReleaseTable.vue";
import ReleaseCardList from "@/components/ReleaseCardList.vue";
import FilterBox from "@/components/FilterBox.vue";
import DisplayStore from "@/stores/DisplayStore";
import ReleaseStore from "@/stores/ReleaseStore";

@Component({
  components: {
    ReleaseCardList,
    ReleaseTable,
    FilterBox
  },

})
export default class Home extends Vue {
  releaseStore = ReleaseStore
  displayStore = DisplayStore
}
</script>
