<template>
  <div class="container">
    <div style="height: 10px"></div>
    <p class="title">Login</p>
    <div class="card has-background-primary">
      <div class="columns">
        <div class="column">

        </div>
        <div class="column is-half">
          <form @submit.prevent="submitForm()" class="is-centered">
            <b-field>
              <template #label>
                <span class="has-text-light">Username</span>
              </template>
              <b-input v-model="username" name="username">
              </b-input>
            </b-field>
            <b-field>
              <template #label>
                <span class="has-text-light">Password</span>
              </template>
              <b-input v-model="password"
                       name="password"
                       type="password"
                       :password-reveal="true"></b-input>
            </b-field>

            <b-field>
              <b-button native-type="submit" class="is-info">Log In!</b-button>
            </b-field>
          </form>
        </div>
        <div class="column"></div>
      </div>

    </div>
    <div style="height: 100px"></div>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import userAPI from "@/api/userAPI";
import LoginRequest from "@/model/LoginRequest";
import AuthStore from "@/stores/AuthStore";
@Component({
  components: {

  },

})
export default class Login extends Vue {
  username = ""
  password = ""
  authStore = AuthStore

  submitForm(): void {
    userAPI.login(new LoginRequest(this.username, this.password))
      .then(r => {
        this.authStore.setAuthData(r)
        this.$router.push("/")
        this.$buefy.toast.open({
                    message: 'Logged in!',
                    type: 'is-success'
                })
      }).catch(error => {
        if (error.response.status == 403) {
          this.$buefy.dialog.alert({
                    title: 'Error',
                    message: 'Invalid login',
                    type: 'is-danger'
                })
        }
    })
  }
}
</script>

<style scoped lang="scss">
form {
  margin-left: 16px;
  margin-right: 16px;
}
</style>
