<template>
  <div class="container">
    <div class="card has-background-primary">
      <div class="columns" style="margin-bottom: 16px; margin-top: 16px">
        <div class="column">

        </div>
        <div class="column is-half">
          <div class="level">
            <div class="level-left">
              <p class="title is-3">
                {{ editingUser ? `Edit ${editingUser.username}` : 'Add User'}}
              </p>
            </div>
            <div class="level-right">
              <b-button type="is-danger" @click="cancelEdit" v-if="editingUser">
                <i class="fa fa-times-circle"></i>
                Cancel Editing
              </b-button>
            </div>
          </div>

          <form @submit.prevent="submitForm()" class="is-centered">
            <b-field>
              <template #label>
                <span class="has-text-light">Username</span>
              </template>
              <b-input v-model="username" name="username">
              </b-input>
            </b-field>
            <b-field>
              <template #label>
                <span class="has-text-light">Password</span>
              </template>
              <b-input v-model="password"
                       name="password"
                       type="password"
                       :password-reveal="true"></b-input>
            </b-field>
            <b-field label="Role">
            <b-select v-model="role">
                <option value="contributor">contributor</option>
                <option value="admin">admin</option>
            </b-select>
        </b-field>
            <b-field>
              <b-button native-type="submit" class="is-info">Submit</b-button>
            </b-field>
          </form>
        </div>
        <div class="column"></div>
      </div>
    </div>
    <b-table :data="users">
      <b-table-column field="username"
                      label="Username"
                      v-slot="props"
                      :td-attrs="columnTdAttrs">
        {{ props.row.username }}
      </b-table-column>
      <b-table-column field="role"
                      label="Role"
                      v-slot="props"
                      :td-attrs="columnTdAttrs">
        {{ props.row.role }}
      </b-table-column>
      <b-table-column field="actions"
                      label="Actions"
                      v-slot="props"
                      :td-attrs="columnTdAttrs">
        <b-button type="is-small is-info" @click="editUser(props.row)">
          <i class="fa fa-edit"></i>
        </b-button>
        <b-button type="is-small is-danger" @click="confirmDelete(props.row)">
          <i class="fa fa-trash"></i>
        </b-button>
      </b-table-column>
    </b-table>
  </div>

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import userAPI from "@/api/userAPI";
import UserRequest from "@/model/UserRequest";

import User, {Role} from "../model/User";
import releaseAPI from "@/api/releaseAPI";
import ReleaseStore from "@/stores/ReleaseStore";
@Component({
  components: {
  },

})
export default class ManageUsers extends Vue {
  users: User[] = []
  editingUser: User | null = null
  username = ""
  password = ""
  role: Role = 'contributor'

  columnTdAttrs() {
    return {
      style: {
        'text-align': 'left !important',
        'word-wrap': 'break-word'
      }
    }
  }

  editUser(user: User): void {
    this.editingUser = user
    this.username = user.username
    this.password = ''
    this.role = user.role
  }

  cancelEdit(): void {
    this.editingUser = null
    this.username = ''
    this.password = ''
  }

  submitForm(): void {
    const request = new UserRequest(this.username, this.password, this.role)
    const promise = this.editingUser ? userAPI.editUser(this.editingUser.id, request) : userAPI.createUser(request)
    promise.then(() => {
      const message = this.editingUser ? "User edited" : "User created"
      this.$buefy.toast.open({ message: message, type: 'is-success' })
      this.loadUsers()
      this.cancelEdit()
    })
  }

  loadUsers(): void {
    userAPI.listUsers().then(r => {
      this.users = r.users
    })
  }

  confirmDelete(user: User): void {
    this.$buefy.dialog.confirm({
      title: 'Delete Release',
      message: `Are you sure you want to <b>delete</b> "${user.username}"? This action cannot be undone.`,
      confirmText: 'Yes',
      cancelText: 'No',
      type: 'is-danger',
      hasIcon: true,
      onConfirm: () => {
        userAPI.deleteUser(user.id).then(() => {
          this.loadUsers()
        })
      }
    })
  }

  mounted(): void {
    this.loadUsers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
