<template>
  <div class="container">
    <div style="height: 10px"></div>
    <p class="title">Change User Data</p>
    <div class="card has-background-primary">
      <div class="columns">
        <div class="column">

        </div>
        <div class="column is-half">
          <form @submit.prevent="submitForm()" class="is-centered">
            <b-field>
              <template #label>
                <span class="has-text-light">Username</span>
              </template>
              <b-input v-model="username" name="username">
              </b-input>
            </b-field>
            <b-field message="Required">
              <template #label>
                <span class="has-text-light">Old Password</span>
              </template>
              <b-input v-model="oldPassword"
                       name="oldPassword"
                       type="password"
                       :password-reveal="true"
              aria-required="true"></b-input>
            </b-field>
            <b-field>
              <template #label>
                <span class="has-text-light">New Password</span>
              </template>
              <b-input v-model="newPassword"
                       name="newPassword"
                       type="password"
                       :password-reveal="true"
              aria-required="true"></b-input>
            </b-field>
            <b-field>
              <b-button native-type="submit" class="is-info">Log In!</b-button>
            </b-field>
          </form>
        </div>
        <div class="column"></div>
      </div>

    </div>
    <div style="height: 100px"></div>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import userAPI from "@/api/userAPI";
import ProfileRequest from "@/model/ProfileRequest";
import AuthStore from "@/stores/AuthStore";
@Component({
  components: {

  },

})
export default class Profile extends Vue {
  username = ""
  oldPassword = ""
  newPassword = ""
  authStore = AuthStore

  submitForm(): void {
    userAPI.updateUserData(new ProfileRequest(this.username, this.oldPassword, this.newPassword))
      .then(r => {
        this.authStore.setAuthData(r)
        this.$router.push("/")
        this.$buefy.toast.open({
                    message: 'Data changed!',
                    type: 'is-success'
                })
      }).catch(error => {
        this.$buefy.dialog.alert({
                  title: 'Error',
                  message: 'An error occured. Please check your password',
                  type: 'is-danger'
              })
    })
  }
}
</script>

<style scoped lang="scss">
form {
  margin-left: 16px;
  margin-right: 16px;
}
</style>
