<template>
  <div id="app" class="has-background-background">
    <b-sidebar
        type="is-primary"
        :fullheight="true"
        :fullwidth="false"
        :overlay="false"
        :right="false"
        v-model="showSideBar"
    >
      <div class="p-1">
        <FilterBox :releases="releaseStore.state.releases"></FilterBox>
      </div>
    </b-sidebar>
    <b-navbar fixed-top centered type="" class="has-background-dark">
      <template #brand>
        <b-navbar-item tag="router-link" :to="{ path: '/' }" style="padding: 0 0 0 10px">
          <img
              src="@/assets/dbto.png"
              alt="Lightweight UI components for Vue.js based on Bulma"
              style="max-height: 50px"
          >
        </b-navbar-item>
        <b-navbar-item tag="div">
          <b-button @click="showSideBar = !showSideBar">
            <i class="fas fa-filter"></i>
          </b-button>
        </b-navbar-item>
        <b-navbar-item tag="div">
          <p class="title is-5">Shreddit Releases</p>
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item tag="div">
          <b-field class="is-hidden-mobile">
            <b-radio-button
                :value="displayStore.state.showTable"
                @input="displayStore.toggleShowTable(false)"
                :native-value="false"
                name="upcoming"
                type="is-success is-dark is-outlined"
            >
              <i class="fas fa-th-list"></i>
            </b-radio-button>
            <b-radio-button
                :value="displayStore.state.showTable"
                @input="displayStore.toggleShowTable(true)"
                :native-value="true"
                name="upcoming"
                type="is-success is-dark is-outlined"
            >
              <i class="fas fa-table"></i>
            </b-radio-button>
          </b-field>
        </b-navbar-item>

      </template>
      <template #end>
        <template v-if="authStore.state.authData">
          <b-navbar-item tag="router-link" to="AddRelease">
            Add Release
          </b-navbar-item>
          <b-navbar-dropdown label="User">
                <b-navbar-item tag="router-link" to="Profile">
                    Change username/password
                </b-navbar-item>
                <b-navbar-item @click="logout">
                    Logout
                </b-navbar-item>
                <b-navbar-item tag="router-link" to="Users" v-if="authStore.state.authData.user.role === 'admin'">
                    Manage Users
                </b-navbar-item>
            </b-navbar-dropdown>
          <b-navbar-item tag="div">
            <p class="subtitle is-5 has-text-light">
              {{ authStore.state.authData.user.username }}
            </p>
          </b-navbar-item>
        </template>
        <template v-else>
          <b-navbar-item tag="div">
            <div class="buttons">
              <router-link to="Login" class="button is-light">Log In</router-link>
            </div>
          </b-navbar-item>
        </template>
      </template>
    </b-navbar>
    <router-view/>
    <b-loading :is-full-page="true"
               :active="displayStore.state.isLoading"
               :can-cancel="false"></b-loading>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import DisplayStore from "@/stores/DisplayStore";
import Release from "@/model/Release";
import ReleaseStore from "@/stores/ReleaseStore";
import FilterBox from "@/components/FilterBox.vue";
import AuthStore from "@/stores/AuthStore";
import userAPI from "@/api/userAPI";

@Component({
  components: { FilterBox }
})
export default class App extends Vue {
  displayStore = DisplayStore
  releaseStore = ReleaseStore
  authStore = AuthStore
  showSideBar = false
  releases: Release[] = []

  mounted(): void {
    AuthStore.load()
    this.releaseStore.loadReleases()
    if (this.authStore.state.authData) {
      userAPI.checkAuth().then(() => {
        // auth ok
      })
    }
  }

  logout(): void {
    userAPI.logout().then(() => {
      this.authStore.logout()
    })
  }
}
</script>

<style lang="scss">


</style>
