<template>
  <div :style="{ width: size, height: size }"
>
    <a @click="isImageModalActive = true">
<!--    <b-image
            ratio="1by1"
            :src="release.full_thumbnail_cover_url"
            :style="{ width: size, height: size }"
            :width="size"
            :height="size"
        ></b-image>-->
      <img :src="release.full_thumbnail_cover_url"
           loading="lazy"
           :style="{ width: size, height: size }"
           :width="size"
           :height="size">
      </a>
    <b-modal v-model="isImageModalActive" width="500px" height="500px">
            <p class="image is-1by1">
              <img :src="release.full_cover_url">
            </p>
        </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Release from "../model/Release";

@Component
export default class CoverImage extends Vue {
  @Prop() release!: Release;
  @Prop({ default: "60px" }) size!: string;
  isImageModalActive = false;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
