<template>
  <section>
    <p class="title has-text-light">
      Filters
    </p>
    <div class="has-text-left">
      <section>
        <b-field>
          <b-input placeholder="Search..."
                   type="search"
                   icon-pack="fas"
                   icon="search"
                   :value="filterStore.state.searchTerm"
                   @input="filterStore.enterSearchTerm($event)"
                   icon-right="close-circle"
                   icon-right-clickable
                   @icon-right-click="filterStore.enterSearchTerm('')"
          >
          </b-input>
        </b-field>
        <b-field>
          <b-radio-button :value="filterStore.state.upcoming"
                          :native-value="false"
                          name="upcoming"
                          @input="filterStore.toggleUpcoming(false)"
                          type="is-success is-light is-outlined"
          >
            Released
          </b-radio-button>
          <b-radio-button :value="filterStore.state.upcoming"
                          :native-value="true"
                          name="upcoming"
                          @input="filterStore.toggleUpcoming(true)"
                          type="is-success is-light is-outlined"
          >
            Upcoming
          </b-radio-button>
        </b-field>
      </section>
      <section>
        <b-field>
          <template #label>
            <span class="has-text-light">Release Type</span>
          </template>
          <b-select placeholder="Release Type"
                    :value="filterStore.state.releaseType"
                    @input="filterStore.selectReleaseType($event)">
            <option value="">All</option>
            <option v-for="r in availableReleaseTypes" :value="r" :key="r">{{ r }}</option>
          </b-select>
        </b-field>
      </section>
      <section>
        <b-field>
          <template #label>
            <span class="has-text-light">Label</span>
          </template>
          <b-select placeholder="Label"
                    :value="filterStore.state.label"
                    @input="filterStore.selectLabel($event)">
            <option value="">All</option>
            <option v-for="r in availableLabels" :value="r" :key="r">{{ r }}</option>
          </b-select>
        </b-field>
      </section>
      <hr>
      <nav class="level">
        <div class="level-left">
          <p class="subtitle is-6 has-text-light">Included</p>
        </div>
        <div class="level-right"><a class="is-size-7 has-text-right" @click="filterStore.resetIncludedTags()">
          <i class="fas fa-times-circle"></i>
          Reset</a></div>
      </nav>

      <TagButtonList :tags="this.availableTagsIncluded"
                     :enabled-tags="filterStore.state.includedTags"
                     @select="toggleTag"></TagButtonList>

      <nav class="level">
        <div class="level-left">
          <p class="subtitle is-6 has-text-light">Excluded</p>
        </div>
        <div class="level-right"><a class="is-size-7 has-text-right" @click="filterStore.resetExcludedTags()">
          <i class="fas fa-times-circle"></i>
          Reset</a></div>
      </nav>
      <div class="buttons">
        <TagButtonList :tags="this.availableTagsExcluded"
                       :enabled-tags="filterStore.state.excludedTags"
                       @select="toggleTagExcluded"></TagButtonList>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Tag from "../model/Tag";
import FilterStore from "@/stores/FilterStore";
import Release from "@/model/Release";
import availableTags from "@/helpers/availableTags";
import availableReleaseTypes from "@/helpers/availableReleaseTypes";
import availableLabels from "@/helpers/availableLabels";
import GenreTagButton from "@/components/GenreTagButton.vue";
import TagButtonList from "@/components/TagButtonList.vue";
@Component({
  components: {
    TagButtonList,
    GenreTagButton
  }
})
export default class FilterBox extends Vue {
  @Prop() releases!: Release[];

  filterStore = FilterStore;

  get availableTagsIncluded(): Tag[] {
    return availableTags(this.releases, FilterStore.state.includedTags)
  }

  get availableTagsExcluded(): Tag[] {
    return availableTags(this.releases, FilterStore.state.excludedTags)
  }

  get availableReleaseTypes(): string[] {
    return availableReleaseTypes(this.releases)
  }

  get availableLabels(): string[] {
    return availableLabels(this.releases)
  }

  toggleTag(tag: Tag): void {
    this.filterStore.toggleIncludedTag(tag.name)
  }

  toggleTagExcluded(tag: Tag): void {
    this.filterStore.toggleExcludedTag(tag.name)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
