<template>
  <b-button
      type="is-light"
      size="is-small"
      :class="{ 'is-outlined': enabled }"
      :style="{ backgroundColor: backgroundColor, color: textColor, opacity: this.opacity }"
      @click="clicked"
  >
    {{ tag.name }}
  </b-button>

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Tag from "../model/Tag";

@Component
export default class GenreTagButton extends Vue {
  @Prop() tag!: Tag;
  @Prop({ default: true }) enabled!: boolean;

  get opacity(): number {
    return this.enabled ? 1 : 0.5;
  }

  get backgroundColor(): string {
    if (!this.tag.background_color) {
      return "white"
    }
    return this.tag.background_color
  }

  get textColor(): string {
    if (!this.tag.foreground_color) {
      return "black"
    }
    return this.tag.foreground_color
  }

  clicked(): void {
    this.$emit('click', this.tag)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
