<template>
  <b-tag :style="{ backgroundColor: backgroundColor, color: textColor }">
    {{ tag.name }}
  </b-tag>

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Tag from "../model/Tag";

@Component
export default class GenreTag extends Vue {
  @Prop() tag!: Tag;

  get backgroundColor(): string {
    if (!this.tag.background_color) {
      return 'white'
    }
    return this.tag.background_color
  }

  get textColor(): string {
    if (!this.tag.foreground_color) {
      return "black"
    }
    return this.tag.foreground_color
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
