<template>
  <div class="container">
    <transition-group
        tag="section"
                      name="list"
                      v-for="w in groupedReleases.weeks"
                      :key="w.string"
                      style="margin-top: 30px; text-align: center;">
      <b-tag size="is-large" type="is-light is-primary" style="margin-bottom: 10px" :key="w.displayString">
        {{ w.displayString }}
      </b-tag>
      <div class="columns" v-for="g in chunkedReleasesInGroup(w)" :key="groupKey(g)">
        <div class="column is-half" v-for="r in g" :key="r.key" >
          <ReleaseCard :release="r"></ReleaseCard>
        </div>
      </div>
    </transition-group>
  </div>

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Release from "../model/Release";
import groupReleases, {ReleaseGrouping} from "@/helpers/groupReleases";
import ReleaseCard from "@/components/ReleaseCard.vue";
import WeekAndYear from "@/helpers/WeekAndYear";
import _ from "lodash";

@Component({
  components: {
    ReleaseCard

  },

})
export default class ReleaseCardList extends Vue {
  @Prop() releases!: Release[];

  get groupedReleases(): ReleaseGrouping {
    return groupReleases(this.releases)
  }

  chunkedReleasesInGroup(week: WeekAndYear): Release[][] {
    const r = this.groupedReleases.releases[week.string]
    return _.chunk(r, 2)
  }

  groupKey(group: Release[]): string {
    return _.join(group.map(r => { return r.key }), "/")
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.list-item {
  display: inline-block;
}

.list-enter-active, .list-leave-active {
  transition: all 200ms;
  opacity: 1;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
