<template>
  <div>
    <b-table :data="sortedReleases">
      <b-table-column field="cover"
                      v-slot="props">
        <CoverImage :release="props.row"></CoverImage>
      </b-table-column>

      <b-table-column field="artist"
                      label="Artist"
                      v-slot="props"
                      sortable
                      :td-attrs="columnTdAttrs">
        {{ props.row.artist }}
      </b-table-column>

      <b-table-column field="title"
                      label="Title"
                      v-slot="props"
                      sortable
                      :td-attrs="columnTdAttrs">
        {{ props.row.title }}
      </b-table-column>

      <b-table-column field="release_type"
                      label="Release Type"
                      v-slot="props"
                      sortable
                      :td-attrs="columnTdAttrs">
        {{ props.row.release_type }}
      </b-table-column>

      <b-table-column field="tags"
                      label="Genre"
                      v-slot="props"
                      sortable
                      :custom-sort="sortByTags"
                      :td-attrs="columnTdAttrs">
        <b-taglist>
          <GenreTag v-for="tag in props.row.tags" :tag="tag" :key="`${props.row.artist}${props.row.title}${tag.name}`"></GenreTag>
        </b-taglist>
      </b-table-column>

      <b-table-column field="label.name"
                      label="Label"
                      v-slot="props"
                      sortable
                      :td-attrs="columnTdAttrs">
        {{ props.row.label.name }}
      </b-table-column>

      <b-table-column field="release_date"
                      label="Release Date"
                      v-slot="props"
                      sortable
                      :td-attrs="columnTdAttrs">
        {{ props.row.formatted_release_date }}
      </b-table-column>

      <b-table-column field="details"
                      label="Details/FFO"
                      v-slot="props"
                      :td-attrs="columnTdAttrs">
        {{ props.row.description }}
      </b-table-column>

      <b-table-column field="link" label="Link" v-slot="props" :td-attrs="columnTdAttrs">
        <a v-if="props.row.links.length > 0" :href="props.row.links[0].url" target="_blank">
          {{ props.row.links[0].url }}
        </a>
      </b-table-column>
      <b-table-column field="date_added"
                      label="Date Added"
                      sortable
                      v-slot="props"
                      :td-attrs="columnTdAttrs">
                {{ props.row.formatted_date_added }}
      </b-table-column>
    </b-table>
  </div>

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Release from "../model/Release";
import GenreTag from "@/components/GenreTag.vue";
import filterReleases from "@/helpers/filterReleases";
import { sortedReleases } from "@/helpers/groupReleases";
import CoverImage from "@/components/CoverImage.vue";
import Tag from "@/model/Tag";
import _ from "lodash";
@Component({
  components: {
    GenreTag,
    CoverImage
  },

})
export default class ReleaseTable extends Vue {
  @Prop() releases!: Release[];

  get sortedReleases(): Release[] {
    return sortedReleases(filterReleases(this.releases), false)
  }

  columnTdAttrs(row: unknown, column: unknown) {
    return {
      style: {
        'text-align': 'left !important',
        'word-wrap': 'break-word',
      }
    }
  }

  sortByTags(a: Release, b: Release, isAsc: boolean): number {
    const pairs = _.zip(a.tags, b.tags)
    const order = isAsc ? 1 : -1
    for (const pair of pairs) {
      const left = pair[0]
      const right = pair[1]
      if (left && right && left.name !== right.name) {
        return left.name > right.name ? order : (-1 * order)
      }
    }
    return 0
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
