<template>
  <div class="card is-dark">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-90x90">
            <CoverImage :release="release" size="90px"></CoverImage>
          </figure>
        </div>

        <div class="media-content has-text-left" style="overflow-y: hidden">
          <p class="title is-4">{{ release.artist }} - {{ release.title }}</p>
          <b-taglist>
            <GenreTag v-for="tag in release.tags" :tag="tag" :key="tag.name"></GenreTag>
          </b-taglist>
        </div>
        <div class="media-right" v-if="authStore.state.authData">
          <b-button type="is-small is-info" @click="editRelease"><i class="fa fa-edit"></i></b-button>
          <b-button type="is-small is-danger" @click="confirmDeletion"><i class="fa fa-trash"></i></b-button>
        </div>
      </div>

      <div class="content has-text-left">
        <p><strong>Release Type:</strong> {{ release.release_type }}<br>
          <strong>Label:</strong> {{ release.label.name }}<br>
          <strong>Release Date:</strong> {{ release.formatted_release_date }}</p>
        <p style="white-space: pre-wrap;">{{ release.description }}</p>
        <p>
        <span v-for="l in release.links" :key="l.url">
          <a :href="l.url" target="_blank">{{ l.url }}</a>
        </span>
        </p>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Release from "../model/Release";
import CoverImage from "@/components/CoverImage.vue";
import GenreTag from "@/components/GenreTag.vue";
import AuthStore from "@/stores/AuthStore";
import releaseAPI from "@/api/releaseAPI";
import ReleaseStore from "@/stores/ReleaseStore";


@Component({
  components: {
    GenreTag,
    CoverImage

  },

})
export default class ReleaseCard extends Vue {
  @Prop() release!: Release;
  authStore = AuthStore

  confirmDeletion() {
    this.$buefy.dialog.confirm({
      title: 'Delete Release',
      message: `Are you sure you want to <b>delete</b> "${this.release.artist} - ${this.release.title}"? This action cannot be undone.`,
      confirmText: 'Yes',
      cancelText: 'No',
      type: 'is-danger',
      hasIcon: true,
      onConfirm: () => {
        releaseAPI.deleteRelease(this.release.id)
          .then(() => {
            ReleaseStore.loadReleases()
            this.$buefy.toast.open(`"${this.release.artist} - ${this.release.title}" deleted`,)
        })
      }
    })
  }

  editRelease() {
    this.$router.push(`/editRelease/${this.release.id}`)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
