<template>

  <transition-group tag="div" class="buttons" name="list">
    <GenreTagButton v-for="tag in this.tags"
                    :tag="tag"
                    :key="tag.name"
                    :enabled="enabledTags.includes(tag.name)"
                    @click="click"
    ></GenreTagButton>
  </transition-group>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Tag from "../model/Tag";
import FilterStore from "@/stores/FilterStore";
import GenreTagButton from "@/components/GenreTagButton.vue";
@Component({
  components: {
    GenreTagButton
  }
})
export default class TagButtonList extends Vue {
  @Prop() tags!: Tag[];
  @Prop() enabledTags!: Tag[]
  filterStore = FilterStore;

  click(tag: Tag): void {
    this.$emit('select', tag)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.list-enter-active,
.list-leave-active,
.list-move {
  transition: 300ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
</style>
